
// skeleton - variable, mixin

$body-font: 'Roboto', sans-serif !default;
$mono-font: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace !default;
$body-font-size: 1rem !default;
$body-line-height: normal !default;
$body-text-color: #000 !default;
$body-background: #e2e2e2 !default;



