<div class="modal" id="authModal" role="dialog" aria-labelledby="authModalBox">
</div>
<div class="modal" id="projectModal" role="dialog" aria-labelledby="projectModalBox">
</div>
<div class="modal" id="ideaModal" role="dialog" aria-labelledby="ideaModalBox">
</div>
<div class="modal" id="postModal" role="dialog" aria-labelledby="postModalBox">
</div>
<div class="modal" id="updateProfileModal" role="dialog" aria-labelledby="authModalBox">
</div>

