<%- include(partials.top) %>
	<!-- body starts here -->

	<%- include(partials.sidebarLeft) %>

			<main role="main">
				<div id="panel">
					<%- include(partials.panel) %>
				</div>
			</main>

				<!-- body ends here -->
				<%- include(partials.bottom) %>